/* --- Content --- */
#content {
    /* Header */
    h2 {
        color: #000;
        font-size: 160%;
        margin: 0 0 .5em;
    }
}

/* -- Articles --- */
.article {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f7f7f7;

    .feed {
        background: #ccc;
        color: #333;
        font-size: 12px;
        float: right;
        padding: 1px 4px;
        margin-top: 10px;
        margin-right: 8px;
    }

    .headers() {
        font-family: Arial;
        margin: 0;
        margin-bottom: 5px;
    }

    h2 {
        .headers;
        a {
            font-size: 22px;
            color: #003399;
            font-weight: bold; 
            text-decoration: none;
        }
    }

    h3 {
        .headers;
        font-size: 14px;
        color: #777;
    }

    a {
        color: #003399;
        text-decoration: none;
        font-weight: normal;
        font-size: 18px;
    }

    .text {
        color: #333;
        font-family: 'Grandesign Neue Serif';
        font-size: 18px;
    }

    .star {
        float: right;
        img {
            width: 32px;
            height: 32px;
        }
    }
}

/* vim:ft=css:
*/
