#feed-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        border: 1px solid black;
        text-align: center;
    }
    th {
        background-color: green;
        color: white;
        font-size: large;
        padding: 5px;
        font-weight: normal;
    }
    tr.even td {
        background-color: #efe;
    }
    #tr-new-rss {
        visibility: collapse;
    }
    #td-new-name, #td-new-url {
        text-align: left;
        padding: 5px;
        #new-rss-name {
            width: 300px;
        }
        #new-rss-url {
            width: 300px;
        }
    }
    .td-name-url {
        text-align: left;
        padding: 5px 5px 5px 10px;
    }
    .delete {
        float: right;
    }
    .name {
        font-size: large;
    }
    .url {
        font-size: small;
        color: #33a;
    }
}
