@content-width: 850px;

body {
    background-image: url('images/background.jpg');
}

/* --- Container --- */
#container {
    margin: 0 auto;
    width: @content-width;
}

/* --- Header --- */
#header {
    color: #f0f0f0;
    padding: 10px 20px;
    background-image: url('images/header.jpg');
    background-position: 0 -120px;
}


/* --- Pager --- */
#pager {
    background: #333;
    color: #aaa;
    padding: 5px;
    text-align: right;
    a {
        text-decoration: none;
        color: #fff;
    }
}

/* --- Navigation --- */
#navigation {
    float: left;
    width: @content-width;
    background: #333;

    /* Nav links */
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            display: inline;
            @link-border: 1px solid#999;
            .common_nav() {
                display: block;
                float: left;
                padding: 5px 10px;
                border-right: @link-border;
            }
            span {
                .common_nav;
                color: #ccc;
            }
            a {
                .common_nav;
                color: #fff;
                text-decoration: none;
                &:hover {
                    background: #383;
                }
            }
            .right {
                float: right;
                border-right: none;
                border-left: @link-border;
            }
        }
    }
}

/* --- Content --- */
#content {
    clear: left;
    padding: 10px 0;
}

/* --- Footer -- */
#footer {
    background: #003366;
    text-align: right;
    padding: 15px;
    color: #006090;
    margin-bottom: 20px;
}

/* vim:ft=css:
*/
